@import 'styles/_functions';

.contact {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 260px;
  height: 260px;
  border-radius: 5px;
  color: white;
  background: rgba(3,3,3,0.25);
  box-shadow: 1px 1px 50px #000;
  display: none;
  @include desktop {
    font-size: desktop-vw(14px);
    letter-spacing: -0.01em;
  }

  
  /* Placeholders */
  ::-webkit-input-placeholder {
    color: #ddd;  }
  :-moz-placeholder { /* Firefox 18- */
    color: red;  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: red;  }
  :-ms-input-placeholder {  
    color: #333;  }
}
.img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

/* Heading */
.title{
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  color: #ddd;
  text-shadow: 3px 3px 10px #000;
}

/* Inputs */
.input{
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border-width: 2px;
  border-color:var(--theme-secondary) ;
  border-style: solid;
  background: rgba(3,3,3,.1);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.textArea{
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  height: 100px;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border-width: 2px;
  border-color:var(--theme-secondary) ;
  border-style: solid;
  background: rgba(3,3,3,.1);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.input:focus,.textArea:focus{
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(3,3,3,.18);
  border-color:var(--pink) ;
}
$intro-duration: 2050ms;
.cta {
  margin: auto;
  width: 50%;
  grid-column: 1 / -1;
  text-align: end;

  &.in {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  @include desktop {
    transition: transform calc($intro-duration - 200ms) var(--ease-out-expo),
      opacity $intro-duration var(--ease-out-expo);
    grid-column: 10 / -1;
    opacity: 0.5;
    transform: translate3d(0, 100%, 0);
  }
}